// Buttons
.btn_rounded {
    display: inline-block;
    padding:14px 20px;
    border-radius:30px;
    text-transform: uppercase;
    color:$white_clr;
    background-color:$primary_clr;
    font-size:15px;
    line-height:17px;
    cursor:pointer;
    font-weight:400;
    text-align: center;
    &:hover {
        color:$white_clr;
        background-color:$d2_clr;
    }
    @media (max-width: $break_768 - 1px) {
        font-size:11px;
        line-height:12px;
        padding:10px 15px;
    }
    img {
        margin-left:10px;
        vertical-align: baseline;
        @media (max-width: $break_768 - 1px) {
            margin-left:5px;
            height:8px;
            width:auto;
        }
    }
}