// Font
$base_fz                :   14px;
$base_font              :   'Poppins', sans-serif;

// Color
$no_clr					:   transparent;
$white_clr				:   #ffffff;
$black_clr				:   #000000;
$d2_clr                 :   #2d2d2d;
$primary_clr            :	#FF4438;
$second_clr             :   #02394A;

// Media Queries
$break_1280				:   1280px;
$break_1240				:   1240px;
$break_1080				:   1080px;
$break_1024				:   1024px;
$break_991				:   991px;
$break_850				:   850px;
$break_768				:   768px;